<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Input</th>
            <th>Output</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>DatePipe</td>
            <td>{{ date }}</td>
            <td>{{ date | date:'fullDate' }}</td>
        </tr>
        <tr>
            <td>2</td>
            <td>UpperCasePipe</td>
            <td>{{ content }}</td>
            <td>{{ content | uppercase }}</td>
        </tr>
        <tr>
            <td>3</td>
            <td>LowerCasePipe</td>
            <td>{{ content }}</td>
            <td>{{ content | lowercase }}</td>
        </tr>
        <tr>
            <td>4</td>
            <td>CustomPipe</td>
            <td>{{ content }}</td>
            <td>{{ content | formatData:0:30 }}</td>
        </tr>
    </tbody>
</table>